<div class="columns is-centered">
  <div class="column is-half">
    <div class="box has-background-light">
      <%= form_with model: @cancha do |form| %>
          <h2 class="subtitle has-text-centered"> Modificar detalles de la cancha </h2>
          <div class = field>
            <%= form.label :direccion, class: "label" %>
            <div class="control">
              <%= form.text_field :direccion, class: "input",required: true %>
            </div>
          </div>
          <div class = field>
            <%= form.label :descripcion, class: "label" %>
            <div class="control">
              <%= form.text_field :descripcion, class: "input", required: true  %>
            </div>
          </div>

          <div class = "field mb-5" >
            <%= form.label :deporte, class: "label" %>
            <div class="select is-medium">
              <%= form.select :deporte, ['Fútbol', 'Padel', 'Tenis', 'Básquetbol '], class:"form-select is-large" %>
            </div>
          </div>
          
          <div class = field, align= "center">
            <%= form.submit 'Editar Cancha', class: "button is-dark mb-3" %>
          </div>
      <% end %> 
    </div>
  </div>
</div>
  <div class="field has-text-centered">
      <%= link_to 'Volver', cancha_path , class: "button is-light is-centered"%>
  </div>
